<!doctype html>
<html ng-app>
<head>
<meta charset="utf-8">
 <title>The third page</title>
<style>
   .text {
    text-align:  center;
   }
 .b1 {
    background: white; 
    color: blue; 
    font-size: 9pt; 
</style>
</head>
<body> 
<div class="text">
<h1><p><img src="images/11.png" alt="Login">Login</p></h1>
<p><input type="text" ng-model="name" placeholder="Login"></p>
<p><input type="text" ng-model="name" placeholder="Password"></p>
<p><button class="b1" onclick="location.href='app4.html'">Login→</button></p>
<p><h3> This buttom will appear instead of "Login" when waiting reply from the server </h3></p>
<p><button class="b1" onclick="location.href='app3.html'">Help→</button></p>
</div>
</body>
</html>